<div class="contents row" >
    <% @informations.each do |information| %>
    <div class="content_post" style="background-image: url(<%= information.image %>);">
      <iframe src=https://goo.gl/maps/Eh8An89M3UzQCdEs8>
        <%= simple_format(information.position) %>
      </iframe>
    <% end %>
    
</div>
https://goo.gl/maps/Eh8An89M3UzQCdEs8
