@import url(https://fonts.googleapis.com/css?family=Bitter);



.holder, .first_top, .second_top, .third_top {
  height: 100px;
  width: 100%;
}

.first_top, .second_top, .third_top {
  position: absolute;
}

.second_top, .third_top {
  opacity: 0;
}

.holder {
  height: 100px;
  position: relative;
  z-index: 1;
}

.first_top {
  animation: first_top 10s infinite;
  background: linear-gradient(#5ff8ca, #60e08c);
  z-index: 10;
}

@keyframes first_top {
  0% {
    opacity: 1.0;
  }

  10% {
    opacity: 0.8;
  }

  20% {
    opacity: 0.6;
  }

  30% {
    opacity: 0.4;
  }

  40% {
    opacity: 0.2;
  }

  50% {
    opacity: 0.1;
  }

  60% {
    opacity: 0.2;
  }

  70% {
    opacity: 0.4;
  }

  80% {
    opacity: 0.6;
  }

  90% {
    opacity: 0.8;
  }

  100% {
    opacity: 1.0;
  }
}

.second_top {
  animation: second_top 10s infinite;
  animation-delay: 2s;
  background: linear-gradient(#19eaa6, #00a1f0);
  z-index: 20;
}

@keyframes second_top {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0.2;
  }

  20% {
    opacity: 0.4;
  }

  30% {
    opacity: 0.6;
  }

  40% {
    opacity: 0.8;
  }

  50% {
    opacity: 1.0;
  }

  60% {
    opacity: 0.8;
  }

  70% {
    opacity: 0.6;
  }

  80% {
    opacity: 0.4;
  }

  90% {
    opacity: 0.2;
  }

  100% {
    opacity: 0;
  }
}

.third_top {
  animation: third_top 10s infinite;
  animation-delay: 8s;
  background: linear-gradient(#aab7f8, #ff75c6);
  z-index: 30;
}

@keyframes third_top {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0.2;
  }

  20% {
    opacity: 0.4;
  }

  30% {
    opacity: 0.6;
  }

  40% {
    opacity: 0.8;
  }

  50% {
    opacity: 1.0;
  }

  60% {
    opacity: 0.8;
  }

  70% {
    opacity: 0.6;
  }

  80% {
    opacity: 0.4;
  }

  90% {
    opacity: 0.2;
  }

  100% {
    opacity: 0;
  }
}

.txt {
  margin: 20px auto 0;
  position: absolute;
  width: 100%;
  z-index: 1000;
  text-align: center;
  h1 {
    font-size: 50px;
    font-weight: 600;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
  }
  
  p {
    font-size: 20px;
    margin-top: 26px;
  }
}


.contents_top {
  font-size: 60px;
  color: white;
  background-color: #404040;
  font-family: 'Caveat', cursive;
  text-decoration: none;
}
.menu_content {
  font-size: 20px;
  color: white;
  background-color: #6a573c;
  text-align: right;
  li {
    list-style: none;
    a  {
    text-decoration: none;
    }
  }
}