header {
	position: relative;
}
.contents_top {
  font-size: 60px;
  color: white;
  background-color: #404040;
  font-family: 'Caveat', cursive;
  text-decoration: none;
}
.menu_content {
  font-size: 20px;
  color: white;
  background-color: #6a573c;
  text-align: right;
  li {
    list-style: none;
    a  {
    text-decoration: none;
    }
  }
}