.r-contents {
  float: right;
  width:  1000px;
  height: 4000px;
  .small_content{
    height: 750px;
    background-color: #f5f5f5;
    border: 2px solid #627295;
    border-radius: 4px;
    margin: 2em 0;
    padding: 2em;
    position: relative;
    &_title{
      font-size: 30px;
      text-align: center;
      margin: 10px auto 0;

    }
    &_image {
      width: 1000px;
      height: 350px;
      object-fit: cover;
      padding: 10px 20px 0px 10px;
      text-align: center;
    }
    &_text{
        width: 900px;
        height: 250px;
        margin: 10px auto 0;
    }
    &_menu {
      display: flex;
      justify-content: space-between;
        li {
          list-style: none;
          display: block;
          display: inline-block;
          a {
          padding: 0.5em 1em;
          text-decoration: none;
          background: #668ad8;
          color: #FFF;
          border-bottom: solid 4px #627295;
          border-radius: 3px;
          }
          
        }
        li a:active {
          -webkit-transform: translateY(4px);
          transform: translateY(4px);/*下に動く*/
          border-bottom: none;/*線を消す*/
          }
    }
    &_name {
      font-size: 20px;
      text-align: right;
      margin: 10px 20px 0px 10px;
    }
  }
}

.small_content::before {
  background-color: #fff;
  color: #627295;
  content: "Travel Information";
  font-weight: bold;
  left: 1em;
  padding: 0 .5em;
  position: absolute;
  top: -1em;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: ＃F4F5F7;
}
