.contents_info{
  width: 1000px;
  height: 2000px;
  margin: 10px auto;
  .content_post{
    width: 900px;
    height: 80px;
    margin: 0px auto;
    font-size: 60px;
    text-align: center;
    color: #494949;
    background: #f4f4f4;
    border-left: solid 5px #7db4e6;
    border-bottom: solid 3px #d7d7d7;
  }
  .content_image{
    width: 900px;
    height: 600px;
    background-size: 900px 600px;
    margin: 10px auto;
  }
  .content_description{
    width: 900px;
    margin: 20px auto;
    p{
      font-size: 20px;
      margin: 0px auto;
    }
    .more {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      padding-left: 760px;
        li {
          list-style: none;
          display: block;
          display: inline-block;
          a {
          padding: 0.5em 1em;
          text-decoration: none;
          background: #668ad8;
          color: #FFF;
          border-bottom: solid 4px #627295;
          border-radius: 3px;
          }
          
        }
        li a:active {
          -webkit-transform: translateY(4px);
          transform: translateY(4px);
          border-bottom: none;
        }
     }
  }
  .container{
    width: 900px;
    margin: 10px auto;
  }
}
